<div class="form-container" [formGroup]="form">
  <h1>Добавление новости</h1>

  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input formControlName="title" matInput placeholder="Название" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Описание</mat-label>
    <textarea
      rows="3"
      matInput
      cdkTextareaAutosize
      placeholder="Описание"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <p>
    Drop file <span (click)="fileInput.click()" class="link">browse..</span>
  </p>
  <input
    #fileInput
    hidden
    multiple
    (change)="handle($event.target)"
    accept="image/png, image/jpeg"
    type="file"
  />
  <span>{{ fileInput.value }}</span>

  <div class="button-wrap">
    <button mat-button [mat-dialog-close]="false">Закрыть</button>
    <button
      mat-button
      [mat-dialog-close]="form.value"
      [disabled]="form.invalid"
    >
      Сохранить
    </button>
  </div>
</div>
