.container {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;
  }

  .date {
    color: gray;
  }
}

.no-information {
  font-size: 40px;
  color: gray;
}

.spinner, .no-information  {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}