.news-container {
  height: calc(100vh - 50px);
  overflow: auto;

  .news {
    display: flex;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;

    .photo {
      height: 135px;
      width: 200px;
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 16px;

      &__name {
        font-size: 20px;
        font-weight: bold;
      }

      &__desc {
        padding-top: 4px;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis
      }   
      
      &__date {
        color: gray;
      }
    }
  }

  .news:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
  }

  .spinner {
    display: flex;
    justify-content: center;
  }
}

.navigation {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

@media (max-width: 700px) {
  .news-container {
    .news {
      flex-direction: column;

      .photo {
        height: auto;
        width: auto;
      }

      .content {
        margin-left: 0;
      }
    }
}
}