<section class="news-container">
  <div class="news" *ngFor="let news of newsList">
    <img class="photo" src="{{ news.titleImageUrl }}" alt="" />
    <div class="content">
      <div class="content__name">{{ news.title }}</div>
      <div class="content__desc">{{ news.description }}</div>
      <div class="content__date">{{ news.publishedDate | date }}</div>
    </div>
  </div>
</section>

<footer class="navigation mat-elevation-z8">
  <button mat-button (click)="openDialog()">Добавить новость</button>
</footer>
