<section class="news-container" (scroll)="onWindowScroll($event)">
  <a [routerLink]="getUrl(news.url)" class="news" *ngFor="let news of newsList">
    <img
      class="photo"
      [src]="news.titleImageUrl || './../../../assets/no-photo.jpg'"
    />
    <div class="content">
      <div class="content__name">{{ news.title }}</div>
      <div class="content__desc">{{ news.description }}</div>
      <div class="content__date">{{ news.publishedDate | date }}</div>
    </div>
  </a>

  <div class="spinner" *ngIf="isloadingNewsList">
    <mat-spinner></mat-spinner>
  </div>
</section>

<footer class="navigation mat-elevation-z8">
  <button mat-button (click)="openDialog()" [disabled]="isloadingNewsList">
    Добавить новость
  </button>
</footer>
